/* 清除默认样式的代码 */
/* 去除常见标签默认的 margin 和 padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
input {
    margin: 0;
    padding: 0;
}

/* 內减模式 */
* {
    box-sizing: border-box;
}

/* 设置网页统一的字体大小、行高、字体系列相关属性 */
body {
    font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei",
        "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    color: #333;
}

/* 去除列表默认样式 */
ul,
ol {
    list-style: none;
}

/* 去除默认的倾斜效果 */
em,
i {
    font-style: normal;
}

/* 去除a标签默认下划线，并设置默认文字颜色 */
a {
    text-decoration: none;
    color: #333;
}

/* 设置img的垂直对齐方式为居中对齐，去除img默认下间隙 */
img {
    vertical-align: middle;
}

/* 去除input默认样式 */
input {
    border: none;
    outline: none;
    color: #333;
}

/* 左浮动 */
.fl {
    float: left;
}

/* 右浮动 */
.fr {
    float: right;
}

/* 双伪元素清除法 */
.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

/* 版心居中 */
.wrapper {
    width: 1240px;
    margin: 0 auto;
}

/* 网页的整体外框 */
#zhengTi {
    width: 1000px;
    height: 1300px;
    background-color: #fff;
    border: 15px solid #2d74b5;
}

/* 头部样式 */
#head {

    margin-top: 50px;
    width: 800px;
    height: 260px;
}
#head .zhaoPian img{
    width: 100%;
}
/* 头部内容样式 */
#head .zhaoPian {
    float: left;
    margin-left: 90px;
    width: 190px;
    height: 260px;
    /* background-color: pink; */
}

#head .jiaoYuBeiJing {
    float: right;
    margin-right: -130px;
    width: 550px;
    height: 260px;
    /* background-color: #000; */
}

/* 装饰横条背景 */
.zhuangShiTuPian {
    position: relative;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    color: #fff;
    width: 550px;
    height: 40px;
    border-bottom: 2px solid #2d74b5;
}

.zhuangShiTuPian::after {
    content: '';
    position: absolute;
    left: -2px;

    width: 0;
    height: 0;
    border-width: 0 26px 12px 0;
    border-style: solid;
    border-color: transparent aqua;
}

.zhuangShiTuPian samp {
    display: block;
    width: 200px;
    height: 0;
    border-bottom: 38px solid rebeccapurple;
    border-right: 50px solid transparent;
}

/* 文字内容样式 */
#head .jiaoYuBeiJing .samp1 {
    margin-top: 25px;
}

#head .jiaoYuBeiJing .samp1 samp {
    margin-left: 20px;
    font-weight: 800;

}

#head .jiaoYuBeiJing p {
    display: block;
    margin-top: 40px;
    font-size: 18px;
}

/* 中间内容样式 */
#content {
    margin-top: 20px;
    width: 970px;
    /* background-color: #000; */
}

#content .gongZuoJingLi1 {
    float: left;
}

#content .first {
    margin-left: 90px;
    margin-top: 30px;
    width: 190px;
    text-align: center;
}

#content .second .zhuangShiTuPian {
    width: 300px;
}

#content .second {
    margin-left: 30px;
    margin-top: 60px;
}

#content .second .ul1 {
    margin-top: 30px;
    list-style: disc;
    list-style-position: inside;
}

#content .second .ul1 li {
    margin-top: 10px;
}

#content .third .zhuangShiTuPian {
    width: 300px;
}

#content .third {
    margin-left: 30px;
    margin-top: 20px;
}

#content .third .ul2 {
    margin-top: 20px;
    list-style: disc;
    list-style-position: inside;
}

#content .third .ul2 li {
    margin-top: 10px;
}

#content .gongZuoJingLi {
    float: right;
    margin-right: 30px;
    width: 550px;
    /* background-color: #000; */
}

#content .gongZuoJingLi ul {
    margin-top: 30px;
    list-style: disc;
    list-style-position: inside;
}

#content .gongZuoJingLi ul li {
    margin-top: 15px;
}

#content .gongZuoJingLi .gongZuoJingLi1 samp {
    margin-left: 40px;
    font-weight: 700;
}

#content .gongZuoJingLi .gongZuoJingLi1 {
    margin-bottom: 20px;
}

#content .gongZuoJingLi .gongZuoJingLi2 samp {
    /* margin-left: 40px; */
    font-weight: 700;
}
/* 工作时间和公司职位 */
.gongZuoJingLi .gongZuoJingLi2 .gongZuo {
    display: flex;
    justify-content: space-between;
}
/* 底部的内容样式 */
#tail {
   
    margin-top: 20px;
    width: 970px;
    /* background-color: #2d74b5; */
}
#tail li {
    margin-top: 30px;
    margin-left: 20px;
    list-style: disc;
    list-style-position: outside;
}
#tail .diBu1 {
    
    margin-left: 30px;
    width: 300px;
    float: left;

}
.gongZuoJingLi .gongZuoJingLi2 li a {
    color: #87CEFA;
    

}
#tail .diBu1 .zhuangShiTuPian {
    width: 300px;
}
#tail .diBu2 {
    float: right;
    margin-right: 30px;
    width: 550px;
}
#jianLi {
    margin-top: 10px;
    border-top: 5px solid blue;
    font-size: 20px;
    font-weight: 600;
    width: 970px;
    font-weight: 400;
    /* background-color: pink; */
}
#jianLi p {
    margin-top: 20px;
    margin-left: 30px;
}
#jianLi .daoJiShi {
    float:right;
    margin-top: 10px;
    margin-left: 30px;
}
#jianLi p a {
    color: rgb(160, 13, 173);
}